name: tsukuyomi_pixel_snap
description: Pixel Snap widgets for Tsukuyomi.
publish_to: 'none'
version: 0.0.1

environment:
  sdk: ">=3.10.0-290.4.beta <4.0.0"
  flutter: ">=3.38.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: 6.0.0
